<div layout="row">
  <md-sidenav class="md-sidenav-left md-whiteframe-z1" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
    <md-toolbar md-scroll-shrink>
      <div class="md-toolbar-tools">
        <h3>
          <span>My App Title</span>
        </h3>
      </div>
    </md-toolbar>
    <md-content role="navigation">
      <ul class="side-menu">
        <li ng-repeat="section in vm.menu.sections" class="parent-list-item"
            ng-class="{'parentActive' : vm.isSectionSelected(section)}">
          <h2 class="menu-heading" ng-if="section.type === 'heading'"
              id="heading_{{ section.name | nospace }}">
            {{section}}
          </h2>
          <menu-link section="section" ng-if="section.type === 'link'"></menu-link>
          <menu-toggle section="section" ng-if="section.type === 'toggle'"></menu-toggle>
        </li>
      </ul>

    </md-content>
  </md-sidenav>
  <md-content flex>
    <ui-view name="content"></ui-view>
  </md-content>

</div>